<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <h1 class="center-align header">Eat Da Burger!</h1>
    </div>
  </div>
</div>

<main>

  <div class="container">
    <div class="row">
      <div class="col s6 pull-s1 border">
        <h2 class="center-align">Burgers to Eat</h2>
        <ul>
          {{#each burgers}} {{#unless this.devoured}}
          <li>
            <div class="row">
              <div class="col s12 colHeight">
                <div class="row">
                  <div class="col s6">
                    {{this.id}} {{this.burger_name}}
                  </div>
                  <div class="col s6">
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="devoured" value="false">
                      <button class="btn waves-effect waves-light" type="submit">Devour It!<i class="material-icons right" >send</i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {{/unless}} {{/each}}
        </ul>

      </div>

      <div class="col s6 push-s1 border">
        <h2 class="center-align">Burgers Devoured: </h2>
        <ul>
          {{#each burgers}} {{#if this.devoured}}
          <li>
            {{this.id}}. {{this.burger_name}}
          </li>
          {{/if}} {{/each}}
        </ul>
      </div>
    </div>

    <div id="add">
      <h2 class="center-align">Add a Burger: </h2>
      <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
          <label for="burgerInput" class="inputLabel">Burger Name:</label>
          <input type="text" id="burgerInput" name="burger_name">
        </div>
        <button class="btn waves-effect waves-light" type="submit">Add Burger<i class="material-icons right">send</i></button>
      </form>
    </div>
  </div>
</main>